{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='Submit' value='Submit'>
</form>

<a href='{% url "loginuser" %}'>Sign In</a>